.preview {
  position: absolute;
  top: 40px;
  left: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.row {
  display: flex;
  flex-direction: row;
}

.item {
  display: flex;
  flex-direction: row;
  margin-right: 32px;
}
